.div-signinPage-container{
  color: #FFFFFF;
  position: absolute;
  top: 20vh;
  left: 20vw;
  .h2-signin-text{

  }
  .form-signin{
    margin-top: 30%;
    .div-signin-field{
      margin: auto 0px;

      .label-signin{
        color: #FFFFFF;
      }
      .input-signin{
        border-bottom: solid white 1px;
        color: #FFFFFF;
      }
    }
  }

  .div-signin-button{
    margin: 30px 0px;
    .button-signin{
      background-color: #FFFFFF;
      color: #080E0E;
      padding: 5px 30px;
      border-radius: 9px;
    }
  }

}
